/* @import "tailwindcss";
@plugin "daisyui"; */
:root {
  /* Colors */
  --primary-color:#017C7B;
  --secondary-color:#04C4C3;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  height: 9000px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}